
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Codystar');




html {
  zoom: 85%;
}

body {
  background-color: $black-color;
}

.container {
  background: $black-color;
  font-family: $main-font;
  font-size: 100px;
  font-weight: 900;
  margin: auto;
  text-align: center;
  text-shadow: 1px 1px 10px $white-color;
}

.box {
  color: $main-color;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1 {
  color: $main-color;
  font-family: $main-font;
  font-size: 90px;
  text-align: center;
}

h3 {
  color: $box-color;
  font-family: $main-font;
  text-align: center;
}

h2 {
  color: $main-color;
  font-family: $main-font;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-shadow: 6px 1px 10px $white-color;
  // box-shadow: 0 0 20px white;
}

h4 {
  color: $main-color;
  font-family: $main-font;
  font-size: 30px;
  text-align: center;
}

.col-xs-4 {
  border: 5px $white-color solid;
  height: 200px;
}

nav {
  text-align: center;
}

.box:hover {
  background-color: $hover-color;
}

.side1 {
  border-left-style: none;
  border-top-style: none;
}

.side2 {
  border-top-style: none;
}

.side3 {
  border-right-style: none;
  border-top-style: none;
}

.side4 {
  border-left-style: none;
}

.side6 {
  border-right-style: none;
}

.side7 {
  border-bottom-style: none;
  border-left-style: none;
}

.side8 {
  border-bottom-style: none;
}

.side9 {
  border-bottom-style: none;
  border-right-style: none;
}

fieldset {
  background-color: $black-color;
}

form {
  color: $main-color;
}

input[type=text] {
  background-color: $black-color;
  color: $white-color;
}

input[type=password] {
  background-color: $black-color;
  color: $white-color;
}

input[type=value] {
  background-color: $black-color;
}

input[button] {
  background-color: $black-color;
}

.dropdown-menu {
  background-color: $black-color;
}
